<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)launch/empty_world.launch" >
        <arg name="gui" value="true" />
        <arg name="use_sim_time" value="true" />
        <arg name="paused" value="false" />
    </include>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x 0.0 -y 0.0 -z 0 -Y 0 -param robot_description" />
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
  <node name="DFD" pkg="koenig" type="DFD" output="screen" >
    <remap from="DFD/koenig/odom" to="/odom"/>
    <remap from="DFD/koenig/cmd_vel" to="/cmd_vel"/>
    <remap from="DFD/koenig/turtlebot_pose2d" to="/turtlebot_pose2d"/>
    <remap from="DFD/koenig/soll" to="/soll"/>
  </node>
</launch>