<launch>
    <node pkg="rviz" type="rviz" name="rviz_koenig" args="-d $(find koenig)/rviz/custom.rviz" />
    <node name="finder" pkg="koenig" type="finder" output="screen" >
        <remap from="finder/koenig/jonny_plan" to="move_base" />
        <remap from="/rviz_goal" to="/move_base_simple/goal" />
    </node>
    <node name="goal_pub" pkg="koenig" type="goal_pub" output="screen" >
        <param name="target_x" type="double" value="7.0" />
        <param name="target_y" type="double" value="7.3" />
    </node>

</launch>