<launch>

  <node pkg="rviz" type="rviz" name="rviz_koenig" args="-d $(find koenig)/rviz/native.rviz" />

  <!-- goal publisher -->
  <node name="goal_pub" pkg="koenig" type="goal_pub" output="screen" />

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find koenig)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find koenig)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find koenig)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find koenig)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find koenig)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find koenig)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
  </node>
</launch>
