<?xml version="1.0" ?>
<launch>
    <!-- launch params -->
    <arg name="use_finder" default="false" />

    <!-- load Robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- transform KS to start position -->
    <node pkg="tf" type="static_transform_publisher" name="tf" args="2.6 0.2 0 1.57 0 0 /map /base_footprint 10"/>

    <!-- start map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find koenig)/maps/myworld.yaml"/>
    
    <!-- start planner -->
    <include if="$(arg use_finder)" file="$(find koenig)/launch/custom.launch"/>
    <include unless="$(arg use_finder)" file="$(find koenig)/launch/native.launch" />

</launch>
